*,*::before,*::after{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.wrapper{
    width:100vw;
    height: 100vh;
    background: linear-gradient(131deg, rgba(0, 89, 255, 0.76) 0%, rgba(5, 33, 163, 0.83) 0%, rgba(43, 5, 163, 0.83) 36%, rgba(161, 130, 238, 1) 100%);
    display: grid;
    place-items: center;
}
